* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  background-color: #04151f;
}

nav {
  background-color: #8f4e0c;
  height: 64px;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav > ul {
  flex: 1 0 auto;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  max-width: 300px;
}

nav > ul li {
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 64px;
}

nav > ul li a,
nav > ul li a:visited
 {
  text-decoration: none;
  color: #fbf5f3;
  font-size: 1.5rem;
}

nav > h1 {
  justify-self: flex-end;
  margin: auto 1em auto auto;
  font-size: 2rem;
  color: #04151f;
}

main {
  padding: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#bullets, #chat-conatiner {
  flex: 1 1 300px;
  max-width: 600px;
  margin: 3em;
}

#bullets > div {
  margin-bottom: 2em;
}

#bullets h2 {
  color: #e07912;
  font-size: 1.75rem;
  margin: 1rem;
}

#bullets li {
  line-height: 2rem;
  color: #fbf5f3;
  margin-left: 2rem;
}

#chat-container {
  width: 40vw;
  min-width: 300px;
}

#chat-container > div > div {
  height: 60vh;
}

.wc-chatview-panel {
  position: relative !important;
}

.wc-message-groups,
.wc-suggested-actions,
.wc-console,
.wc-upload-input,
.wc-textbox,
.wc-send,
.wc-mic {
  position: static !important;
}

.wc-header {
  display: none;
}

.wc-message-group-content {
  margin-top: 0 !important;
}

.wc-app {
  background-color: #fbf5f3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.wc-chatview-panel,
.wc-message-pane {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.wc-header {
  display: none;
  height: 0;
}

.wc-message-pane {
  order: 3;
  overflow: scroll;
}

.wc-console {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.wc-textbox {
  flex: 1 0 auto;
}

.wc-send {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.wc-mic,
.wc-mic * {
  display: none;
  width: 0px;
}

.wc-message-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.wc-message-from-me {
  align-self: flex-end;
}

.wc-message-from-bot {
  align-self: flex-start;
}

.wc-message-from > span {
  font-size: 0.75rem;
}